@import url(shared.css);

.overlay-black{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: black;
    opacity: 0.68;
    backdrop-filter: blur(5px);
}